/* styles.css */
.body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
}

.sidebar {
  width: 22dvw;
  background-color: #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.menu {
  width: 100%;
  margin-top: 20px;
}

.menu-item {
  width: 100%;
  padding: 10px 20px;
  background-color: #f7f7f7;
  color: #000000;
  border: none;
  text-align: right;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}

.menu-item.active {
  background-color: #4CAF50;
  color: #fff;
}
main {
  width: 78dvw;
  overflow-y: auto;
}
header {
  display: flex;
  /* flex-direction: row-reverse; */
  /* align-content: end; */
  justify-content: flex-start;
  align-items: center;
  min-height: 20vh;
  padding: 1.5rem;
}

header img {
  border-radius: 50%;
  background-color: beige;
  width: 10%;
}

header span {
  color: #c6c6cf;
  font-size: small;
}

header button {
  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  /* border-radius: 0; */
}
form.section button{
  padding: 10px 40px;
}
.forms section ,.forms button.header {
  background-color: #fff;
  border: 0px;
}
.forms section {
  margin-top: 2rem;
}
.collapse.show {
  padding: 20px 0;
}
/*  */
.input_group {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}
.field {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}
.input_group label span {
  font-size: small;
  color: #c6c6cf;
}
.input_group textarea,
.input_group input,
.input_group select {
  background-color: #fff;
  color: #4d4b4b;
  padding: 12px;
  margin: 0.5rem 0;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 6px;
  text-align: right;
  width: 100%;
}
input[type="radio"]{
  width: fit-content!important;
}
::placeholder {
  color: #888888;
  font-weight: 550;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  font-weight: 550;
}

.smButton {
  min-width: 5rem;
  margin: 10px;
}
