<nav class="navbar navbar-expand-md p-0">
  <div
    class="container-fluid p-0"
    style="display: inline !important; width: fit-content"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-body">
        <aside class="sidebar">
          <nav class="menu">
            <div>
              <button
                class="menu-item active"
                data-section="personal-info"
                data-bs-toggle="offcanvas"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
                (click)="pInfoShow()"
              >
                البيانات الشخصية
              </button>
              <button
                class="menu-item"
                data-section="social-links"
                data-bs-toggle="offcanvas"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
                (click)="cInfoShow()"
              >
                روابط التواصل الاجتماعي
              </button>
            </div>
            <div>
              <button class="menu-item" (click)="logout()">تسجيل الخروج</button>
            </div>
          </nav>
        </aside>
      </div>
    </div>
  </div>
</nav>
