<div class="form-container">
  <div class="form-card">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div
        class="d-flex flex-column flex-wrap align-content-center text-center"
      >
        <h2>تسجيل جديد</h2>
        <p>قم بالتسجيل لنتائج بحثية أفضل</p>
      </div>
      <div class="input_group">
        <input
          type="text"
          placeholder="الاسم الأول"
          formControlName="firstName"
          name="firstName"
          [ngClass]="{
            'form-control is-invalid': firstName?.touched && firstName?.invalid
          }"
        />

        <input
          type="text"
          placeholder="الاسم الأخير"
          formControlName="lastName"
          name="lastName"
          [ngClass]="{
            'form-control is-invalid': lastName?.touched && lastName?.invalid
          }"
        />
      </div>
      <div class="input_group">
        <div class="sub">
          <div class="select-container">
            <select required>
              <option value="" disabled selected>اختر</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>

          <input
            class="mob"
            type="text"
            placeholder="رقم الجوال"
            formControlName="mobile"
            name="mobile"
            [ngClass]="{
              'form-control is-invalid': mobile?.touched && mobile?.invalid
            }"
          />
        </div>
        <input
          class=""
          type="email"
          placeholder="البريد الإلكتروني"
          formControlName="email"
          name="email"
          [ngClass]="{
            'form-control is-invalid': email?.touched && email?.invalid
          }"
        />
      </div>

      <div class="input_group password-fields">
        <input
          type="password"
          placeholder="كلمة المرور"
          formControlName="password"
          name="password"
          [ngClass]="{
            'form-control is-invalid': password?.touched && password?.invalid
          }"
        />

        <input
          type="password"
          placeholder="تأكيد كلمة المرور"
          formControlName="confirmPassword"
          name="confirmPassword"
          [ngClass]="{
            'form-control is-invalid':
              confirmPassword?.touched && confirmPassword?.invalid
          }"
        />
      </div>
      <div class="terms">
        <input
          class="form-check-input mx-3"
          type="checkbox"
          id="terms"
          formControlName="terms"
          name="terms"
        />
        <label class="form-check-label" for="terms"
          >أوافق على كافة
          <a class="link-warning" href=""> الشروط والأحكام</a></label
        >
      </div>
      <div class="verification-options form-check mt-3">
        <p class="">ارسال رمز التحقيق الى</p>
        <div>
          <input
            class="form-check-input mx-3 float-end"
            type="checkbox"
            id="emailVerification"
            value="emailVerification"
            name="emailVerification"
            formControlName="emailVerification"
          />
          <label
            class="form-check-label link-warning float-end"
            for="emailVerification"
            >البريد الإلكتروني</label
          >
          <input
            class="form-check-input mx-3 float-end"
            type="checkbox"
            id="smsVerification"
            value="smsVerification"
            name="smsVerification"
            formControlName="smsVerification"
          />
          <label
            class="form-check-label link-warning float-end"
            for="smsVerification"
            >رقم الجوال</label
          >
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center m-4 text-center">
        <button
          type="submit"
          class="register-button btn btn-success btn-lg w-50"
        >
          تسجيل
        </button>

        <p class="login-link col-12 my-3">
          لديك حساب؟
          <a routerLink="/login" class="link-warning">تسجيل الدخول</a>
        </p>
      </div>
    </form>
  </div>
</div>
